{% extends 'core3.html' %}

{% block title %}
<title>Add Time</title>
{% endblock title %}

{% block content %}

<div class="teacher-main_container">
    <div class = "course-container">
        <div class="title">Updating Time</div>
        <div class = "course-content">
            <form method = "POST" action = "">
             {% csrf_token %}
             {{form}}
             <div class="add-button">
                <button type = "submit">Update</button>
            </div>
            </form> 
        </div>
    </div>
</div>


{% endblock content %}
