{% extends 'core2.html' %}

{% block title %}
<title>Teacher</title>
{% endblock title %}

{% block content %}

<div class="teacher-main_container">
    <div class = "teacher-container">
        <div class="title">Registration Summary</div>
        <div class = "teacher-content">
            {% for item in model1 %}

            <div class = "courses-values">
                <span>Courses</span>
                <div class = "courses-values-desires-summary">
                    <div class = "">
                        <span class = ''>1st desire:<span>{{item.d1}}</span></span>
                        <span class = "">2nd desire:<span>{{item.d2}}</span></span>
                        <span class = "">3rd desire:<span>{{item.d3}}</span></span>
                    </div>
                    <div class = "">
                        <span class = "">4th desire:<span>{{item.d4}}</span></span>
                        <span class = "">5th desire:<span>{{item.d5}}</span></span>
                    </div>
                </div>
            </div><br><br><br><br>
            <div class = "times-values">
                <span>Time Preferences</span>
                <div class = "times-values-desires">

                    <div class = "time-row">
                        <span class = 'first'>1st desire</span>
                        <span>{{item.d1t1}}</span>
                        <span>{{item.d1t2}}</span>
                        <span>{{item.d1t3}}</span>
                    </div>
                    <div class = "time-row">
                        <span class = "second">2nd desire</span>
                        <span>{{item.d2t1}}</span>
                        <span>{{item.d2t2}}</span>
                        <span>{{item.d2t3}}</span>
                    </div>
                    <div class = "time-row">
                        <span class = "third">3rd desire</span>
                        <span>{{item.d3t1}}</span>
                        <span>{{item.d3t2}}</span>
                        <span>{{item.d3t3}}</span>
                    </div>
                </div>
            </div><br><br>
            <div class = "extra">
                {% if item.extra %}
                <span>Extra course is requested</span>
                {% endif %}
            </div><br><br>

            <div class="summary-button">
                <a class = "" href = "{% url 'teacher_modify_page' item.id %}">Modify</a>
                <form method = "POST" action = "">
                    {% csrf_token %}
                    <button type = "submit">Email Me</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
